@page "/"

<PageTitle>SkolQuiz</PageTitle>

<h1>SkolQuiz</h1>

<p>Välkommen till SkolQuiz! Här kan du spela frågesport med dina vänner och klasskamrater.</p>

<NavLink class="button" href="Play">Spela nu!</NavLink>