@{
    ViewData["Title"] = "Startsidan";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till SkolQuiz-Admin!</h1>
    <p>Här kan du som administratör hantera kategorier och frågor.</p>
</div>
