@{
    ViewData["Title"] = "Startsidan";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till SkolQuiz!</h1>
    <p>Den här Quiz-appen testar dina kunskaper i flera olika kategorier</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Play" asp-action="Index">Spela</a>
</div>
